.demo-editor.rdw-editor-main {
    border: 1px solid #eee;
    padding: 5px 10px;
    margin-bottom: 20px;
    height: 500px;
}
input.input-style-addBlog {
    border: 1px solid #b2b0b0 !important;
    border-radius: 5px;
}

input.input-style-addBlog.title.form-control {
    height: 50px;
}